.alert-box{
    background: #aba8f4;
    color:#4646b4;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.yellow-bg{
    background: yellow;
}
.bg{
    width: 100%;
    height: 700px;
    background-image: url('./background.jpg');
    background-size: cover;
    color: white;
  }
  .bg-font{
    margin: auto;
    width: 70%;
    padding-top: 30px;
    text-align: center;
  }
  .bg-img{
    width: 100%;
  }
  .black-background{
    background: rgba(0,0,0,0,5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
  }
  .white-background{
    background: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
  }
  .close-modal{
    
  }
  .form-control{
    margin-bottom: 10px;
  }
  .nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
  }
  .nav-sub{
    display: none;
  }
  #email-alert{
    color: red;
    display: none;
  }
  #psw-alert{
    color: red;
    display: none;
  }
  .alert{
    text-align: center;
    margin-bottom: 0;
  }
  .slide-container{
    width: 300vw;
    transition: transform 1s;
    
  }
  .slide-box{
    width:100vw;
    float: left;
  }
  .slide-box img{
    
    width: 30%;
  }
  .slide-next{
    position: absolute;
    top:45%;
    left:460px;
  }
.slide-before{
  position: absolute;
  top:45%;
  left:0;
}
  /* .slide-next::hover{
    display: block;
  } */